.titulo {
    text-align: center;
    margin: 30px 0;
    color: #6a1b9a;
}

.carrinha {
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: #f6b7cc;
    padding: 20px;
    border-radius: 15px;
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.item img {
    width: 80px;
    border-radius: 8px;
}

.info h3 {
    margin: 0;
}

.total {
    text-align: right;
}

.total button {
    background: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.voltar {
    display: block;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: #6a1b9a;
}

html {
    scroll-behavior: smooth;
}