* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    background: #f7f7f7;
}
.header {
    background: #e91e63;
    padding: 15px;
    text-align: center;
    margin-bottom: 60px;
}

.a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    color: #777;
}
.formulario, .form {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
}

.h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #d81b60;
}
.link {
    text-align: center;
    margin-top: 15px;
}

